<template>
    <br>
    <form >
        <h2>SignUp</h2>
        <label >Email:</label>
        <input type="email" required v-model="email">
        <label >Password:</label>
        <input type="password" required v-model="password">
        <label >role</label>
        <select v-model="role">
            <option value="Designer">Designer</option>
            <option value="Web Front Developper">Web Front Developper</option>
            <option value="Web Back Developper">Web Back Developper</option>
        </select>
        <div>
            <label >Skills:</label>
            <!-- in this input will add bellow  after ,  -->
            <input type="text" v-model="tempSkills" @keyup="addSkill">
            <div v-for=" skill in skills" :key="skill" class="pill">
               <span @click="deleteSkill(skill)">{{ skill }}</span>
            </div>
        </div>
        <div class="terms">
            <input type="checkbox" required v-model="terms">
            <label >accepting condition and term of services</label>
        </div>
        
        <!-- <div>   
            <div>
                <input type="checkbox" value="Salim" v-model="names">
                <label >Salim</label>
            </div>
            <div>
                <input type="checkbox" value="Friman" v-model="names">
                <label >Friman</label>
            </div>
            <div>
                <input type="checkbox" value="zaho" v-model="names">
                <label >Zaho</label>
            </div>
        </div> -->
    </form>
    <p>Email is :{{email}}</p>
    <p>Password is :{{password}}</p>
    <p>Role picked is :{{role}}</p>
    <p>Terms : {{terms}}</p>
    <!-- <p>Names is : {{names}}</p> -->
    <p>Skills: {{skills}}</p>
</template>

<script>
export default {
    data () {
      return {
        email:'',
        password:'',
        role:'',
        terms:false,
        //names:[],
        tempSkills:'',
        skills:[],
      }
    },
    methods:{
        addSkill(e){
            console.log(e);
            if(e.key === ',' && this.tempSkills){
                if(!this.skills.includes(this.tempSkills)){
                    this.skills.push(this.tempSkills)
                }
                this.tempSkills= ""
            }
        },
        deleteSkill(skill){
            this.skills = this.skills.filter((item) => {
                return skill !== item
            })
        }
    }
}
</script>

<style  scoped>
form {
    max-width: 420px;
    margin: 30px auto;
    background: white;
    text-align: left;
    padding: 60px;
    border-radius: 10px;
  }
  label {
    color: #aaa;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input,select {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
    border-radius: 4px;
  }
  input[type="checkbox"]{
    display: inline-block;
    width: 16px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
    border-radius: 4px;
    }
    .pill {
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 6px 12px;
    background: #aaa;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #777;
    cursor: pointer;
  }
</style>