<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
  <div>
    <SignupForm/>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import SignupForm from './components/SignupForm.vue';
export default {
 
  name: 'App',
  components: {
    //HelloWorld,
    SignupForm
  }
}
</script>

<style >
#app {
  background: #eee;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: auto;
}
</style>
